ConfigArgParse==1.2
acme==1.3.0
boto3==1.12.36
botocore==1.15.36
certbot==1.3.0
certbot_dns_route53==1.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
configobj==5.0.6
cryptography==2.9
distro==1.5.0
docutils==0.15.2
idna==2.9
jmespath==0.9.5
josepy==1.3.0
mock==4.0.2
parsedatetime==2.5
pyOpenSSL==19.1.0
pyRFC3339==1.1
pycparser==2.20
python_dateutil==2.8.1
pytz==2019.3
raven==6.10.0
requests==2.23.0
requests_toolbelt==0.9.1
s3transfer==0.3.3
setuptools==46.1.3
six==1.14.0
urllib3==1.25.8
wheel==0.34.2
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.0.2
zope.proxy==4.3.5
